<div style="text-align: center ;"><h1>Welcome To Lazy loading</h1>
<h3>Lazy loading is a design pattern commonly used in computer programming and mostly in web design and development to defer <u style="font-size:larger; color:brown">initialization of an object until the point at which it is needed.</u>It can contribute to efficiency in the program's operation if properly and appropriately used. </h3></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
          <ul class="nav navbar-nav ">
            <li class="active radius" style="background-color:black ;  " ><a routerLink="/home">Home</a></li>
            <li class="active radius"  style="background-color: pink ; " ><a routerLink="/video">video</a></li>
            <li class="active radius"  style="background-color: lightgreen ; " ><a routerLink="/marketplace">marketplace</a></li>
            <li class="active radius"  style="background-color: yellow ;" ><a routerLink="/game">game</a></li>
            <li class="active radius"  style="background-color: red ; " ><a routerLink="/group">group</a></li>
            <li  style="margin: 15px 100px;padding: 10px;"><form >
              <input type="text" style ="color: black;" placeholder="Search">
              <button style="background-color: green;" type="submit">Search</button>
            </form></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <router-outlet></router-outlet>
  </div>
</div>
